/* 
    Created on : 17/03/2016, 23:24:13
    Author     : Talliny
*/
.skip{
position:absolute;
text-indent:-9999em;
width:0;
}

.w3-theme {
    color:#fff !important;
    background-color:#4CAF50 !important;
}

.w3-btn {
    background-color:#4CAF50;
    margin-bottom:4px;
}

.w3-code{
    border-left:4px solid #4CAF50
}

@media only screen and (max-width: 601px) {
    .w3-top{
        position:static;
    } 
    #main{
        margin-top:0px !important
    }
}

div.scroll {
    height: 500px;
    overflow: scroll;
}
